
:root {
  /* Color */

  --ordered-list-left-gap: var(--widthTwoLetters);

  --button-background: var(--background-color);
  --button-border: var(--text-color);
  --button-color: var(--text-color);
  --button-background-activated: var(--text-color);
  --button-color-activated: var(--background-color);
  --buttonDisabled-text: var(--colorDisabledMedium);
  --buttonDisabled-background: var(--disabled-background-color);
  --buttonCorrect-background: var(--correct-background-color);
  --buttonCorrect-border: var(--correct-text-color);
  --buttonCorrect-color: var(--correct-text-color);
  --buttonWrong-background: var(--wrong-background-color);
  --buttonWrong-border: var(--wrong-text-color);
  --buttonWrong-color: var(--wrong-text-color);

  --button-withIcon-border: none;
  --disclosure-button-left-padding: 0;

  --tab-background: var(--background-color);
  --tab-color: var(--text-color);
  --tab-background-hover: var(--text-color);
  --tab-color-hover: var(--background-color);
  --tab-correct-background-hover: var(--correct-text-color);
  --tab-correct-color-hover: var(--correct-background-color);
  --tab-wrong-background-hover: var(--wrong-text-color);
  --tab-wrong-color-hover: var(--wrong-background-color);
  --tab-concealer-background: var(--background-color);
  
  /* Sizing */
  --root-gap: var(--gap-IV);
  --site-frame-gap: var(--gap-I);
  --border-width: var(--border);
  /* --button-padding-horiz: var(--paddingButtonHoriz);
  --button-padding-vert: var(--paddingButtonVert); */
  --button-padding-inline: var(--gap-I);
  --button-padding-block: var(--gap-I);
  --button-padding-horiz: 0;
  --button-padding-vert: 0;
  --button-min-width: calc(var(--wordLengthMin) + (var(--button-padding-inline) * 2));

  --title-margin-top: var(--gap-III);
  --title-gap: var(--gap-I);

  --content-width: clamp(var(--siteWidthMin), var(--siteWidthIdeal), var(--siteWidthMax));
  --content-margins: var(--marginCentering);

  --disclosure-control-icon-gap: var(--gap-I);

  --instruction-margin-block: var(--gap-I);

  --current-tab-gap: var(--gap-II);
  --tab-left-margin: var(--marginCorrection-I);
  --tab-concealer-width: var(--fullWidth);
  --tab-concealer-height: var(--concealer-height);
  --tab-padding-inline: var(--gap-II) var(--gap-II);
  --tab-padding-block: var(--gap-I) var(--gap-I);
  --tabpanel-padding: var(--gap-I);
  --tab-icon-gap: var(--gap-I);

  --card-padding: var(--gap-I);
  /* --card-gap: var(--gap-I); */
  --card-gap: var(--gap-IV);
  --cards-container-gap: var(--gap-I);
  --cards-line-height: var(--lineHeightReset);
  /* --card-check-gap: var(--gap-I); */
  --card-check-gap: var(--gap-II);
  --card-phrase-gap: var(--gap-II);

  --footer-margin-bottom: var(--gap-III);
  --footer-heading-margin-top: var(--gap-I);
  --footer-heading-margin-bottom: var(--gap-I);
  --footer-heading-margin-top: var(--gap-I);

  /* Font */
  --text-font: var(--sans-I), var(--sans-II), var(--sans-III), var(--sans-IV), sans-serif;
  --heading-font: var(--serif-I), var(--serif-II), serif;
  --button-withIcon-font: var(--text-font);

  --text-font-size: clamp(var(--textMin), var(--textIdeal), var(--textMax));
  /* --control-font-size: clamp(var(--controlMin), var(--controlIdeal), var(--controlMax)); */
  --control-font-size: var(--controlMin);
  --button-withIcon-font-size: var(--controlMin);
  --subheading-font-size: var(--text-font-size);
  --heading-text-transform: uppercase;

  --text-line-height: var(--lineHeightBig);
  --button-withIcon-text-decoration: var(--underlinedNoBorder);
  --heading-line-height: var(--lineHeightSmallLargeFont);
  --subheading-line-height: var(--lineHeightSmall);

  --body-font-weight: var(--fontWeightMax);
  --instruction-font-weight: var(--fontWeightMin);
  --footer-font-weight: var(--fontWeightMin);
  --tabpanel-empty-fontweight: var(--fontWeightMin);

  --heading-text-alignment: center;
  --subheading-text-alignment: center;

  --heading-letter-spacing: var(--letterSpacingCaps);

  /* Icons */
  --disclosure-control-icon-width: var(--iconTriangleWidth);
  --disclosure-control-icon-height: var(--iconTriangleHeight);
  --disclosure-control-icon-background: var(--inheritedColor);
  --disclosure-control-icon-flip: var(--turnUpSideDown);
  --disclosure-control-icon-unflip: var(--turnReset);
  --disclosure-control-icon-shape: var(--clipPathTriangle);
  --tab-icon-size: var(--emojiMax);
  --tab-icon-line-height: var(--lineHeightEmoji);

  /* Color */
  --tabpanel-background: var(--background-color);

  /* Borders and outlines */
  --focus-outline: var(--outlineOnFocus) solid var(--background-color);
  --focus-box-shadow: 0 0 0 var(--shadowOnFocus) var(--button-border);
  --border: var(--borderWidth) solid var(--button-border);
  --tab-bottom-border: var(--reset);

  /* Position */
  --tab-position: var(--positionInFlow);
  --tab-concealer-position: var(--positionOutOfFlow);

  --tab-concealer-bottom: var(--shiftDownConcealer);
  --tab-concealer-left: var(--shiftLeftConcealer);

  /* Layers */
  --tab-concealer-z-index: var(--layerHigher-I);

  /* Display */
  --tabpanel-concealer-display: block;

  /* Alignment */
  --site-frame-display: flex;
  --site-frame-flex-direction: column;
  --tabpanel-empty-grid-column: var(--allColumns);
  --cards-container-template: repeat(auto-fit, minmax(min(100%, var(--cardWidthMin)), 1fr));
  --grid-fix-template: 2 / var(--lastColumn);

}