/* Colors are in hex format because no color manipulations are used at this point */

:root {
  /* primitive */

  /* Colors */
  --black: #212121;
  --white: #FFFFFF;
  --redDark: #80313F;
  --redLight: #FCF5F6;
  --greenDark: #33544F;
  --greenLight: #F2FCFB;
  --greyLight: #EBEBEB;
  --greyMedium: #858585;
  --greyDark: #333333;

  /* Sizing */
  --borderWidth: calc(1 / 16 * 1rem);
  --outlineOnFocus: calc(6 / 16 * 1rem);
  --shadowOnFocus: calc(8 / 16 * 1rem);

  --siteWidthMin: calc(280 / 16 * 1rem);
  --siteWidthMax: calc(1352 / 16 * 1rem);
  --siteWidthIdeal: 94%;
  --paddingButtonHoriz: 1.125em;
  --paddingButtonVert: 0.875em;

  --marginCentering: auto;

  --textMin: calc(18 / 16 * 1rem);
  --textMax: calc(22 / 16 * 1rem);
  --textIdeal: calc(22 / 1512 * 100 * 1vw);
  --controlMin: 1rem;
  --controlMax: calc(18 / 16 * 1rem);
  --controlIdeal: calc(18 / 1512 * 100 * 1vw);
  --lineHeightBig: 1.5;

  --gap-I: calc(8 / 16 * 1rem);
  --gap-II: 1rem;
  --gap-III: calc(24 / 16 * 1rem);
  --gap-IV: calc(32 /  16 * 1rem);
  --gap-V: calc(48 / 16 * 1rem);

  /* Fonts */
  --sans-one: Verdana;
  --sans-two: 'Trebuchet MS';
  --sans-three: Arial;
  --sans-four: Tahoma;
  --serif-one: Georgia;
  --serif-two: 'Times New Roman';

  /* Semantic */
  --colorPrimary: var(--black);
  --colorSecondary: var(--white);
  --colorPrimaryInverted: var(--colorSecondary);

  --colorDisabledLight: var(--greyLight);
  --colorDisabledDark: var(--greyDark);
  --colorDisabledMedium: var(--greyMedium);

  --colorSuccess: var(--greenDark);
  --colorSuccessInverted: var(--greenLight);
  --colorError: var(--redDark);
  --colorErrorInverted: var(--redLight);
}