:root {
  --color-base: hsl(0 0% 0% / 87%);
  --color-humble: hsl(0 0% 0% / 40%);
  --color-secondary: hsl(0 0% 100%);
  --color-correct: hsl(140 24% 32%);
  --color-wrong: hsl(0 43% 45%);
  --color-correctHumble: hsl(140 50% 93%);
  --color-wrongHumble: hsl(0 50% 93%);

  --font-size-primary: 1.125rem;
  --font-size-button: 1rem;
  --font-size-toggle: 0.875rem;

  --border-default: 0.0625rem solid var(--color-base);
  --outline-on-focus: 0.38rem solid var(--color-secondary);
  --boxshadow-on-focus-default: 0 0 0 0.5rem var(--color-base);
  --boxshadow-on-focus-correct: 0 0 0 0.5rem var(--color-correct);
  --boxshadow-on-focus-wrong: 0 0 0 0.5rem var(--color-wrong);

  --site-frame: clamp(16.875rem, 93%, 69rem);
}

:focus-visible {
  outline: 0.38rem solid var(--color-secondary);
  box-shadow: 0 0 0 0.5rem var(--color-base);
  background-color: var(--color-secondary);
}

:disabled {
  --color-base: var(--color-humble) !important;
}

body {
  margin: 0;
  /* font-family: var(--font-nunito); */
  color: var(--color-base);

  font-size: var(--font-size-primary);
}

p {
  margin: 0;
}

h1 {
  margin-block: 1em;

  /* font-family: var(--font-literata); */
  font-size: clamp(1.25rem, 4vw, 3rem);
  text-align: center;
  text-transform: uppercase;
}

h3 {
  margin: 0;
  
  font-weight: 400;
  font-size: inherit;
}

span, a {
  font-size: inherit;
}

hr {
  width: 100%;
  margin: 0;
  
  color: var(--color-humble);
}

ol {
  margin-block-end: 1.5em;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  padding: 0;

  border-radius: 0;
  border: none;

  color: var(--color-base);
  background-color: var(--color-secondary);
  font-size: 1rem;
}

button.correct {
  --color-base: var(--color-correct);
}

button.wrong {
  --color-base: var(--color-wrong);
}

/* Older design */

/* button:focus-visible {
  color: var(--color-secondary);
  background-color: var(--color-base);
} */

button.correct:focus-visible {
  box-shadow: var(--boxshadow-on-focus-correct);

  /* Older design */

  /* background-color: var(--color-correct); */
}

button.wrong:focus-visible {
  box-shadow: var(--boxshadow-on-focus-wrong);

  /* Older design */

  /* background-color: var(--color-wrong); */
}

header {
  width: 100%;
  margin-block-end: 0.5rem;
  padding: 1rem 0;

  border-bottom: var(--border-default);
  background-color: var(--color-secondary);
}

header > div {
  display: flex;
  justify-content: flex-start;

  width: var(--site-frame);
  margin-inline: auto;
}

header > div > div {
  width: 100%;
  
  display: flex;
  flex-direction: column;
}

hr + div {
  display: flex;
  gap: 1rem;
}

div:has( > button:not(:has(svg))):has( > div svg) {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

header button {
  margin-inline-start: auto;
}

/* Fallback for Firefox */
div:is(.correct, .wrong) > h3 + div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

div[data-testid='container-all-cards'] > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, 15.5rem);
  gap: clamp(1rem, 2vmax, 2rem);
  justify-content: center;
}

.content {
  width: var(--site-frame);
  margin-inline: auto;

  border: var(--border-default);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  box-sizing: border-box;
  width: 15.5rem;
  padding: 1rem 1.25rem;

  border: var(--border-default);
}

.card.correct {
  border-color: var(--color-correct);
}

.card.wrong {
  border-color: var(--color-wrong);
}

.card:hover {
  outline: var(--outline-on-focus);
  box-shadow: var(--boxshadow-on-focus-default);
}

.card:focus-within {
  outline: var(--outline-on-focus);
  box-shadow: var(--boxshadow-on-focus-default);
}

.card.correct:focus-within {
  box-shadow: var(--boxshadow-on-focus-correct);
}

.card.wrong:focus-within {
  box-shadow: var(--boxshadow-on-focus-wrong);
}

.visually-hidden {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}